{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% load render_table from django_tables2 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>History</h1>
    <hr>
    <h4 style="text-align: center">{{ start_date }} to {{ end_date }}</h4>
    <hr>

    {% if show_table %}
        <div class="progress" style="height: 1.8rem">
            <div class="progress-bar bg-success"
                 style="width:{{ courses.time_spent|div:courses.total_target_hours }}\%;height:1.8rem">
                {{ courses.name }} ({{ courses.time_spent }} / {{ courses.total_target_hours }} hrs)
            </div>
        </div>

        <div style="text-align: center">{% render_table table %}</div>
    {% else %}
        {% for course in courses %} <!-- TODO add more colors -->
            <div class="container">
                <div class="row">
                    <div class="col-3">{{ course.name }} ({{ course.time_spent }} / {{ course.total_target_hours }} hrs)
                    </div>
                    <div class="col-9 progress" style="height: 1.8rem">
                        <div class="progress-bar bg-success"
                             style="width:{{ course.time_spent|div:course.total_target_hours }}\%;height:1.8rem">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
