{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ date_form.media }}
{% endblock %}

{% block body %}
    <h1>History</h1>
    <hr class="colorgraph">
    <form method="POST">
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="submit" name="year" class="btn btn-primary">Last Year</button>
            </div>
            <div class="btn-group">
                <button type="submit" name="month" class="btn btn-primary">Last Month</button>
            </div>
            <div class="btn-group">
                <button type="submit" name="week" class="btn btn-primary">Last Week</button>
            </div>
            <div class="btn-group">
                <button type="submit" name="current" class="btn btn-primary">This Week</button>
            </div>
        </div>

        <br>
        <h2>Custom Range</h2>
        {% csrf_token %}
        {{ date_form.as_p }}
        <button class="btn btn-lg btn-primary btn-block" name="custom" type="Submit">Select Date Range</button>
    </form>
    <hr class="colorgraph">
    <script src="{% static 'history/js/datepicker.js' %}"></script>
{% endblock %}