{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block head %}
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
    <script src="{% static 'history/js/progress.js' %}"></script>

    {{ date_form.media }}
{% endblock %}

{% block body %}
    <h1>History</h1>

    <hr>
    <h4 style="text-align: center">{{ start_date }} to {{ end_date }}</h4>

    <hr>
    {% if show_table %}
        <div class="progress-custom" style="margin: .2rem 0"
             data-name={{ courses.name }} data-target={{ courses.total_target_hours }}
             data-proportion={{ courses.time_spent|div:courses.total_target_hours }}>
        </div>
        <br>

        <div class="table-striped table-bordered">
            <table class="table">
                <thead>
                <tr>
                    <th>Start Time</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                {% for interval in intervals %}
                    <tr>
                        <td>{{ interval.start_time }}</td>
                        <td>{{ interval.duration }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {% for course in courses %}
            <div class="progress-custom" style="margin: .2rem 0; width: 99%"
                 data-name={{ course.name }} data-target={{ course.total_target_hours }}
                 data-proportion={{ course.time_spent|div:course.total_target_hours }}>
            </div>
        {% endfor %}
    {% endif %}

    <div class="jumbotron">
        <form method="POST">
            {% csrf_token %}
            <div class="btn-group d-flex">
                <button type="submit" name="year" class="btn btn-primary w-100">Last Year</button>
                <button type="submit" name="month" class="btn btn-primary w-100">Last Month</button>
                <button type="submit" name="week" class="btn btn-primary w-100">Last Week</button>
                <button type="submit" name="current" class="btn btn-primary w-100">This Week</button>
                <!-- TODO make weeks more accurate -->
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    {% for field in date_form %}
                        {{ field.errors }}
                        <div class="col-4" style="display: inline">
                            {{ field.label_tag }} {{ field }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" name="custom" type="Submit">Select Date Range</button>
        </form>
    </div>
    <!--<script src="{% static 'history/js/datepicker.js' %}"></script>-->
{% endblock %}