django-datetime-widget==0.9.3
django-formtools==2.1
django-tables2==1.14.2
django-mathfilters==0.4.0
pytz==2017.2
selenium==3.7.0
python-dateutil==2.6.1
dj-database-url==0.4.1
Django==1.11.1
gunicorn==19.6.0
psycopg2==2.7.0
whitenoise==3.2
