{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" type="text/css">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-push-3">
                <div class="jumbotron">
                    <section class="container-fluid">
                        <div class="row">
                            <div class="col-sm-10 col-sm-push-1">
                                <div class="container">
                                    <div class="wrapper">
                                        <h1>Course Performance</h1>
                                        <hr class="colorgraph">
                                        <h3>Course: {{ course_name }}</h3>
                                        <h3>{{ start_date }} to {{ end_date }}</h3>
                                        <hr class="colorgraph">
                                        <div id="chartContainer" style="height: 200px; width: 100%;"></div>
                                        <!-- TODO remove script -->
                                        <script type="text/javascript">
                                            window.onload = function () {
                                                var chart = new CanvasJS.Chart("chartContainer", {
                                                    animationEnabled: true,
                                                    backgroundColor: "transparent",
                                                    axisX: {gridThickness: 0, interval: 1},
                                                    axisY: {gridThickness: 0, suffix: " hours"},

                                                    data: [{
                                                        type: "bar", name: "companies",
                                                        yValueFormatString: "#.## hours", indexLabel: "{y}",
                                                        dataPoints: [{
                                                            y: {{ total_target_hours }},
                                                            label: "Scheduled time"
                                                        },
                                                            {
                                                                y: {{ total_hours }},
                                                                label: "Actual time"
                                                            }]
                                                    }]
                                                });
                                                chart.render();
                                            }
                                        </script>
                                        <br><br>
                                        <hr class="colorgraph">
                                        <div class="col-sm-12 col-sm-push--1">
                                            {% render_table table %}  <!-- TODO display time spent -->
                                            <hr class="colorgraph">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}