{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load render_table from django_tables2 %}

{% block head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" type="text/css">
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
{% endblock %}

{% block body %}
    <h1>Course Performance</h1>
    <hr class="colorgraph">
    <h3 style="text-align: center">{{ start_date }} to {{ end_date }}</h3>
    <div class="progress" data-name={{ course.name }} data-target={{ course.total_target_hours }}
         data-proportion={{ course.time_spent|div:course.total_target_hours }}></div>
    <br>

    <div style="text-align: center">{% render_table table %}</div>  <!-- TODO display time spent -->
    <hr class="colorgraph">
    <script src="{% static 'history/js/progress.js' %}"></script>
{% endblock %}