{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'courseperformance/css/style.css' %}" type = "text/css">
{% endblock %}

{% block body %}

	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-push-3">
				<div class="jumbotron">
					<section class="container-fluid">
						<div class="row">
							<div class="col-sm-10 col-sm-push-1">
								<div class = "container" >
									<div class = "wrapper">
										<center><h2>Course performance</h2></center>
										<hr class="colorgraph">
										<center><h3>Course: {{ course_name}}</h3></center>
										<center><h3>from: {{ start_date}}  to: {{ end_date }}</h3></center>
										<hr class="colorgraph">
                                        <center><h3>Actual:  hh:{{ actual_hours}} mm:{{ actual_minutes }} ss:{{ actual_seconds }} </h3></center>
                                        <center><h3>Schedule:  hh:{{ schedule_hours}} mm:{{schedule_minutes  }} ss:{{schedule_seconds }} </h3></center>
										<hr class="colorgraph">
                                            <table>  <!-- A table showing time spent -->
												{% for time_interval, time_spent in time_intervals %}
                                                    <tr> from:{{ time_interval.start_time }} to: {{ time_interval.end_time }} length: {{ time_interval.interval_length }}
                                                    <tr><br></tr>
													<tr></tr>
												{% endfor %}
												<!--FOR DEMO ONLY-->
												<!-- <button id="increase">Increase by 10</button>
												<button id="decrease">Decrease by 10</button> -->
											</table>
										<div class="col-sm-12 col-sm-push--1">
                                            <hr class="colorgraph"><br>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}