{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type = "text/css">
    {{ course_date_form.media }}
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-push-3">
				<div class="jumbotron">
					<section class="container-fluid">
						<div class="row">
							<div class="col-sm-10 col-sm-push-1">
								<div class = "container" >
									<div class = "wrapper">
										<h2>Course Performance</h2>
											<hr class="colorgraph">
											<div class="col-sm-12 col-sm-push--1">

                                            <form method="POST">
                                                {% csrf_token %}
                                                {{ course_date_form.as_p }}

                                                <br>
                                                <button class="btn btn-lg btn-primary btn-block" type="Submit">Display</button>
										    </form>
											<br><hr class="colorgraph" width="100%"><br>
											</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

<script type="text/javascript">
  $(function(){
    $(".dateinput").datepicker();
  });
</script>