{% extends 'base.html' %}
{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
{% endblock %}

{% block body %}
    <div class='container '>
        <div class=" wrapper">
            <br>

            <div class="jumbotron vertical-center">
                <h1 class="display-3">Welcome to Course Tracker</h1>
                <p class="lead">Be more productive and optimize your progress!</p>
            </div>
        </div>
    </div>
{% endblock %}
