<!DOCTYPE html>
{% load static %}

<html>
<head>
    <!-- Bootstrap, FontAwesome, MDB, and local stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" type="text/css">

    <!-- jQuery, Popper, and JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

    <!-- Page icon -->
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon"/>

    <title>CourseTracker</title>

    {% block head %}
    {% endblock %}
</head>

<body>
<div class="page_bg"></div>
<div class="navbar navbar-expand-lg navbar-light blue-grey lighten-5 navbar-expand-sm"
     id="nomargin" role="navigation">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".mynavbar"><span class="sr-only">Toggle navigation</span>
        &#x2630;
    </button>
    <a href="/" class="navbar-brand">CourseTracker</a>
    <div class="collapse navbar-collapse mynavbar">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="/courses" class="nav-link">Courses</a></li>
                <li class="nav-item"><a href="/history" class="nav-link">History</a></li>
                <li class="nav-item"><a href="/timer" class="nav-link">Timer</a></li>
            {% endif %}
        </ul>
        <ul class="nav ml-auto">
            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="/accounts/login" class="nav-link">Log In</a></li>
                <li class="nav-item"><a href="/accounts/signup" class="nav-link">Sign Up</a></li>
            {% else %}
                <li class="nav-item"><a href="/accounts/logout" class="nav-link">Log Out</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <div class="jumbotron">
        {% block body %}
        {% endblock %}
    </div>
</div>
</body>