{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type = "text/css">
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-push-3">
				<div class="jumbotron">
					<section class="container-fluid">
						<div class="row">
							<div class="col-sm-10 col-sm-push-1">
								<div class = "container" >
									<div class = "wrapper">
										<h1>Courses</h1>
											<hr class="colorgraph">
											<div class="col-sm-12 col-sm-push--1">
												<table>  <!-- A table showing the current courses -->
													<thead>
													<tr>
														<th class="header" width="80%"><h3>Name</h3></th>
														<th class="header"><h3>Hours</h3></th>
                                                        <th class="header"><h3>Activated?</h3></th>
													</tr>
													</thead>
													{% for course in courses %}
														<tr>
															<td>{{ course.name }}</td>
															<td>{{ course.hours }}</td>
                                                            <td>{{ course.activated }}</td>
														</tr>
													{% endfor %}
												</table>
											<br><hr class="colorgraph" width="100%"><br>
											</div>	
										<form method='post'>
											{% csrf_token %}
											{{ create_form.as_p }}
											<button class="btn btn-lg btn-primary btn-block" name="create" type="Submit">Add Course</button>
										</form>
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ edit_form.as_p }}
											<button class="btn btn-lg btn-primary btn-block" name="edit" type="Submit">Edit Course</button>
											<button class="btn btn-lg btn-primary btn-block" name="delete" type="Submit">Delete Course</button>
                                        </form>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}