{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" type="text/css">
{% endblock %}

{% block body %}
    <h1>Courses</h1>

    <hr>
    <div style="text-align: center">{% render_table table %}</div>
    <hr>

    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link {% if tab == 'create' %}active{% endif %}" data-toggle="tab"
               href="#create">Create Course</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if tab == 'edit' %}active{% endif %}" data-toggle="tab"
               href="#edit">Edit Course</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if tab == 'delete' %}active{% endif %}" data-toggle="tab"
               href="#delete">Delete Course</a>
        </li>
    </ul>
    <br>

    <div class="tab-content">
        <div class="tab-pane {% if tab == 'create' %}active{% endif %}" id="create">
            <form method="post">
                {% csrf_token %} {{ create_form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" name="create" type="Submit">Add</button>
            </form>
        </div>

        <div class="tab-pane {% if tab == 'edit' %}active{% endif %}" id="edit">
            <form method="post">
                {% csrf_token %} {{ edit_form.as_p }}
                <button class="btn btn-lg btn-primary btn-block" name="edit" type="Submit">Edit</button>
            </form>
        </div>

        <div class="tab-pane {% if tab == 'delete' %}active{% endif %}" id="delete">
            <form method="post">
                {% csrf_token %} {{ delete_form.as_p }}
                <button class="btn btn-lg btn-danger btn-block" name="delete" type="Submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}