{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type = "text/css">
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-push-3">
				<div class="jumbotron">
					<div class = "container" >
						<div class="wrapper">
							<h1>Sign up</h1>
								<hr class="colorgraph"><br>
								<form method='post'>
									{% csrf_token %}
									{{ form.as_p }}
								<center><button class="btn btn-lg btn-primary btn-block" type="Submit">Submit</button></center>
								</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}