{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}" type = "text/css">
{% endblock %}

{% block body %}
	<section class="container-fluid">
		<div class="row">
			<div class="col-sm-6 col-sm-push-3">
				<div class="jumbotron">
					<section class="container-fluid">
						<div class="row">
							<div class="col-sm-10 col-sm-push-1">
								<div class = "container" >
									<div class = "wrapper">
										<h1>Timer</h1>
											<hr class="colorgraph">
												
											<center><button class="btn btn-lg btn-primary btn-block">Start</button></center>
										</form>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</section>
{% endblock %}