{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'timer/css/flipclock.css' %}" type="text/css">
    <script src="{% static 'timer/js/flipclock.js' %}"></script>
    <script src="{% static 'timer/js/timer.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>Timer</h1>
    <hr>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="timer" style="text-align: center; margin-top:5%; margin-bottom:5%"></div>
        <button class="btn btn-lg btn-primary btn-block switch" id="startbutton" type="submit">Start</button>
        <button class="btn btn-lg btn-primary btn-block" id="stopbutton" type="submit">Stop</button> <!-- TODO compress -->
    </form>
{% endblock %}